[Unit]
Description=myHomeSim node.js
Documentation=https://example.com
After=network.target mongod.service

[Service]
Environment=NODE_PORT=8080 NODE_ENV=production
Type=simple
User=root
Group=root
ExecStart=/usr/bin/node /home/myHomeSim/index.js

Restart=on-failure
# Restart service after 15 seconds if node service crashes
RestartSec=15

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=myHomeSimServer

[Install]
WantedBy=multi-user.target
